:host {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  box-sizing: border-box;
  flex-basis: 222px;
  margin: 8px;
  padding: 8px;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
}

:host:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

h2 {
  margin-top: 0;
}
