:host {
  display: flex;
  width: 100%;
  padding: 32px 32px 0 32px;
  flex-direction: column;
  background-color: #fbfbfb;
  height: calc(100vh - 32px);
}

.card__wrapper {
  display: fLex;
  flex-wrap: wrap;
}
