<div class="app__wrapper">

  <aside>
    <app-one-field-form
      title="Projects"
      buttonTitle="Create"
      fieldName="Project name"
      (submitForm)="createProject($event)">

    </app-one-field-form>
    <ul>
      <li *ngFor="let project of todoList.projects">
        <app-project-list-item
          [project]="project"
          removeButtonTitle="Delete"
          (click)="selectProject(project)"
          (remove)="removeProject(project)">

        </app-project-list-item>
      </li>
    </ul>
  </aside>

  <main>
    <app-one-field-form
      title="Tasks"
      buttonTitle="Add"
      fieldName="Task description"
      (submitForm)="addTask($event)">

    </app-one-field-form>

    <ul>
      <li *ngFor="let task of todoList.currentSelected.tasks">
        <app-task-list-item
          [task]="task"
          removeButtonTitle="Hide"
          (removeTask)="removeTask(task)">

        </app-task-list-item>
      </li>
    </ul>
  </main>

</div>
