.full__size {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main__wrapper {
  display: flex;
  max-width: 800px;
  width: 100%;
  flex-wrap: wrap;
}

.list__without__style {
  list-style: none;
  padding-left: 0;
}

.list__without__style li {
  padding: 8px;
}

.list__without__style li:nth-child(even) {
  background-color: #f2f2f2;
}

.project__list {
  display: flex;
  flex-direction: column;
}

.project__wrapper {
  flex: 2;
  padding: 8px;
  flex-basis: 200px;
}

.tasks__wrapper {
  flex: 6;
  padding: 8px;
  flex-basis: 300px;
  background-color: #fbfbfb;
  height: calc(100vh - 16px);
}

.selected_project {
  background-color: #e6e6e6;
  font-weight: bold;
}

