<div class="full__size">
  <div class="main__wrapper">
    <aside class="project__wrapper">

      <app-one-field-form
        title="Projects"
        buttonTitle="Create"
        fieldName="Project name"
        (submitForm)="todoList.createProject($event)">

      </app-one-field-form>

      <ul class="list__without__style project__list">
        <li
          *ngFor="let project of todoList.getProjects()"
          [className]="todoList.getSelected() === project ? 'selected__project' : ''">

          <app-project-list-item
            [project]="project"
            removeButtonTitle="Delete"
            (click)="todoList.selectProject(project)"
            (remove)="todoList.removeProject(project)">
          </app-project-list-item>

        </li>
      </ul>

    </aside>

    <main class="tasks__wrapper">

      <app-one-field-form
        [title]="todoList.getSelected()?.name || 'Tasks'"
        buttonTitle="Add"
        fieldName="Task description"
        (submitForm)="todoList.addTask($event)"
        [disabled]="todoList.isAnySelected()">

      </app-one-field-form>

      <ul class="list__without__style task__list">
        <li *ngFor="let task of todoList.getSelected()?.tasks">

          <app-task-list-item
            [task]="task"
            removeButtonTitle="Hide"
            (removeTask)="todoList.removeTask(task)"
            (changeMark)="todoList.changeTaskMark(task, $event)"
            (changeTitle)="todoList.changeTaskTitle(task, $event)">
          </app-task-list-item>

        </li>
      </ul>

    </main>
  </div>
</div>
