:host {
  display: flex;
  width: 100%;
  padding-top: 16px;
}

.project__list {
  display: flex;
  flex-direction: column;
}

.project__wrapper {
  flex: 2;
  padding: 8px;
  flex-basis: 200px;
}

.tasks__wrapper {
  flex: 6;
  padding: 8px;
  flex-basis: 300px;
  background-color: #fbfbfb;
  height: calc(100vh - 32px);
}

.selected_project {
  background-color: #e6e6e6;
  font-weight: bold;
}

